@import "~bootstrap/dist/css/bootstrap.css";

table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

.auto-margin {
    margin: auto;
}

.background {
    background-image: url("/assets/background.jpeg") ;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.red {
    color: red;
}

button {
    background-color: #88ADB6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.66;
}

.red {
    color: red;
}

.green {
    color: green;
}

body {
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(120deg, #f7f7f7, #eeeeee);
    margin: auto;
    width: inherit;
    height: inherit;
    padding: 3px;
    border: 4px solid #605f5f;
}
form {
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 12%;
    border: 3px solid #838383;
    background-color: rgb(235, 235, 235); 
}

ngb-carousel {
    margin-bottom: 1%;
    margin-top: 1%;
}
ngb-carousel img {
    width: 100vh;
    height: 45vh;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.navbar-custom {
    color: white;
    background-color: rgb(200, 200, 200); 
    width: inherit;
    height: inherit;
}

.navbar-background {
    color: white;
    background-color: rgb(200, 200, 200); 
    margin: auto;
    width: inherit;
    height: inherit;
    padding: 3px;
    border: 2px solid #a3a3a3;
}

.navigation {
    display: flex;
    justify-content: space-evenly; /* Horizontally space-out items */
    align-items: center; /* Vertically center align items */
}

table.table-bordered > thead > tr > th {
    border: 1px solid rgb(153, 153, 153);
}

table.table-bordered > tbody > tr > td {
    border: 1px solid rgb(153, 153, 153);
}

img {   
    width: 100px;
    height: 100px;
    background-color: lightgray;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
}
.lightgreen{
    color: lightgreen;
}
.green{
    color: green;
}
.blue {
    color: royalblue;
}
.cyan {
    color: cyan;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    border: 6px solid rgb(58, 57, 58);
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.responsive {
    width: 100%;
    overflow-x: auto;
}
.user-img-border {
    border: 2px dashed rgb(153, 153, 153);
}
.background-user {
    background-color: rgb(209, 209, 209);  
}
.logout {
    text-align: center;
}
.strokeme
{
    text-shadow:
    -0.2px -0.2px 0 #000,
    0.2px -0.2px 0 #000,
    -0.2px 0.2px 0 #000,
    0.2px 0.2px 0 #000;  
}