<app-home-navbar></app-home-navbar>
<div>
    <form>
    <img src="/assets/OTE.png" alt="Open Trade Exchange" class="ote-image">
    <br>
    <br>
    <h3 class="text-center">Simple financial electronic exchange system</h3>
    <br>
    <ul>
        <li>Small but fully functional electronic exchange system</li>
        <li>Most core functionalities seen in the professional electronic exchanges around the world, but with reduced scope and robustness</li>
        <li>Focusing more on the order matching subsystem instead of security, messaging, persistance etc.</li>
        <li>OpenTradeExchange is developed as a final University project by only one student, with limited resources and time constraints, and should be regarded as such.</li>
    </ul>
    <br>
    <img src="/assets/exchange-real.webp" alt="Open Trade Exchange" class="real-image">
    <br>
    <br>
    <div class="text-center">
        Check out: <a href="https://github.com/stankovicuros27/OpenTradeExchange">Project code</a>
    </div>
</form>
</div>


